<div class="app-content page-body">
  <div class="container">
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">แก้ไขข้อมูลบริษัท</h4>
      </div>
      <div class="page-rightheader ml-auto d-lg-flex d-none">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24"
                viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
                <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
              </svg><span class="breadcrumb-icon"> หน้าหลัก</span></a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/base/company/list">บริษัท</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            แก้ไขข้อมูลบริษัท
          </li>
        </ol>
      </div>
    </div>
    <!--End Page header-->

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">ฟอร์มแก้ไขข้อมูล</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="companyForm.baseForm" (ngSubmit)="onUpdate()">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 form-label">Company Id</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="company_id" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">รหัส</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="code" class="form-control" />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 form-label">ชื่อไทย</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="name_th" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">ชื่อไทย</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="name_en" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">ชื่อย่อ</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="abbreviation" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">เลขนิติบุคคล</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="tax_id" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">เลขบัญขี</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="bank_id" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">ชื่อธนาคาร</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="bank_name" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">ชื่อบัญชี</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="account_name" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">สาขาธนาคาร</label>
                    <div class="col-md-9">
                      <input type="text" class="form-control" formControlName="bank_batch" >
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">ที่อยู่</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="address" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12">

                  <div class="form-group row">
                    <label class="col-md-3 form-label">หมู่บ้าน</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="village" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">ถนน</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="road" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">แขวง</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="sub_district" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">เขต</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="district" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">จังหวัด</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="province_id" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">รหัสไปษณีย์</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="zipcode" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">โทรศัพท์</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="phone" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">แฟลก</label>
                    <div class="col-md-9">
                      <input type="text" formControlName="fax" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">แผนที่</label>
                    <div class="col-md-9">
                      <input type="file" formControlName="map" accept="image/png, image/jpeg">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">แผนที่บริษัท</label>
                    <div class="col-md-9">
                      <input type="file" name="map2" formControlName="map2" accept="image/png, image/jpeg">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 form-label">logo</label>
                    <div class="col-md-9">
                      <input type="file" formControlName="logo" accept="image/png, image/jpeg">
                    </div>
                  </div>
<!--
                  <div class="form-group row">
                    <label class="col-md-3 form-label">Website</label>
                    <div class="col-md-9">
                      <input class="form-control" type="url" name="url" />
                    </div>
                  </div> -->
                </div>
                <div class="col-lg-12 col-md-12 text-center">
                  <div class="form-group mb-0 mt-4 row justify-content-end">
                    <div class="col-md-12">
                      <button type="button" (click)="onUpdate()" class="btn btn-primary">
                        บันทึก
                      </button>
                      &nbsp;
                      <button type="reset" class="btn btn-secondary">
                        ล้างข้อมูล
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End Row -->
  </div>
</div>
<!-- end app-content-->
