<div class="app-content page-body">
  <div class="container">
    <!--Page header-->
    <div class="page-header">
      <div class="page-leftheader">
        <h4 class="page-title">สาขา</h4>
      </div>
      <div class="page-rightheader ml-auto d-lg-flex d-none">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24"
                viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
                <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
              </svg><span class="breadcrumb-icon">หน้าหลัก</span></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">สาขา</li>
        </ol>
      </div>
    </div>
    <!--End Page header-->

    <!-- Row -->
    <div class="row">
      <div class="col-12">
        <!--div-->
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col mb-4">
                <div class="card-title">รายการ</div>
              </div>
              <div class="col col-auto mb-4">
                <div class="form-group w-100">
                  <button (click)="onOpenModal()" class="btn btn-primary">
                    <i class="fe fe-plus"></i>เพิ่มใหม่
                  </button>
                </div>
              </div>
            </div>
            <div class="">
              <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.user_id }}
                  </td>
                </ng-container>

                <!-- Role Column -->
                <ng-container matColumnDef="role">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Role
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.name_th }}
                  </td>
                </ng-container>

                <!-- Username Column -->
                <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Username
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.WebAdmin }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Actions
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="table-button-row">
                      <button mat-flat-button color="accent" (click)="onOpenModal(element)">
                        Edit
                      </button>
                      <button mat-flat-button color="warn" (click)="onDelete(element.id)">
                        Delete
                      </button>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
            </div>
          </div>
        </div>
        <!--/div-->
      </div>
    </div>
    <!-- /Row -->
  </div>
</div>
<!-- end app-content-->
